*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.forms {
  background:#0b678c;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:15px;
}

h1 {
  text-align:center;
  color:white;
  margin-top: -5px;
  margin-bottom: 15px;
  font-size:22px;
}

.forms .tab-group {
  list-style: none;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.forms .tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.forms .tab-group li a {
  display:block;
  text-decoration:none;
  padding:13px;
  background:#41718A;
  color:#a0b3b0;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  border-radius:5px;
  cursor:pointer;
  transition:.5s ease;
}

.forms .tab-group li a:hover {
  background:#4387ad;
  color:white;
}

.forms .tab-group .active a {
  background:#4e95bc;
  color:white;
}

.forms input {
  font-family: 'Titillium Web', sans-serif;
  font-size:16px;
  display:block;
  width:100%;
  height:100%;
  margin-top: 7px;
  margin-bottom: 15px;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:white;
  border-radius:5px;
  transition:border-color .25s ease, box-shadow .25s ease;
}

.forms input:focus {
  outline:0;
  border-color:#4e95bc;
}

.forms label {
  color:white;
  font-size:19px;
  margin-bottom: 5px;
  display: block;
}

.forms .button {
  cursor: pointer;
  display:block;
  width:100%;
  border-radius:5px;
  font-size:24px;
  font-family: 'Titillium Web', sans-serif;
  margin-top: 30px;
  border:0;
  outline:none;
  padding:15px 0;
  background:#4e95bc;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}

.forms .button:hover, .button:focus { 
  background: #4387ad; 
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 98% 0;
  height: 37px;   
  overflow: hidden;
  width: 100%;
  border-radius:5px;   
  margin-top: 7px;
  border:1px solid #a0b3b0;
}

.styled-select select {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  height: 33px;
  width: 110%;
}

.blue select { 
  color: #fff; 
}
